body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-body);
  background-color: #ffffff;
}

:root {
  --logo-color-web: #4d5ae5;
  --color-clic: #404bbf;
  --color-body: #434455;
  --color-logo-ligt: #2e2f42;
  --color-logo-dark: #f4f4fd;
  --color-btn-hero: #4d5ae5;
  --color-btn-clic: #e7e9fc;
  --color-wite: #ffffff;
  --color-header-border: #e7e9fc;
  --color-hero-background: rgba(46, 47, 66, 0.7);
  --color-advand-card-background: #f4f4fd;
  --color-social-icon: #4d5ae5;
  --color-social-icon-hover1: #404bbf;
  --color-social-icon-hover2: #31d0aa;
  --color-customers-icon: #8e8f99;
  --color-madel: #fcfcfc;
  --color-form-check: #2e2f4266;
  --color-shadow: #00000026;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.container {
  /* Basic styles */

  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | HEADER
  |============================
*/

.page-header {
  border-bottom: 1px solid var(--color-header-border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  /*  z-index: var(--header-idx); */
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  /* Basic styles */

  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-color-web);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-studio-light {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--color-logo-ligt);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio-dark {
  color: var(--color-logo-dark);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
}

.menu {
  /* Basic styles */
  display: none;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.menu-item {
  /* position: relative; */
}

.menu-link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-logo-ligt);
  /*   color: var(--color-clic); */

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: var(--color-clic);
}

.menu-link::after {
  content: '';
  display: block;

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;

  border-radius: 2px;
}

/* .active {
  color: var(--color-clic);
} */

.active::after {
  background-color: var(--color-clic);
}

.address {
  /* Basic styles */
  display: none;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .address {
    /* Basic styles */
    display: block;
    font-style: normal;
    gap: 40px;
    margin-left: auto;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.menu-contact {
  /* Basic styles */
  display: flex;
  font-style: normal;
  gap: 12px 40px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .menu-contact {
    /* Basic styles */
    flex-direction: column;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .menu-contact {
    /* Basic styles */
    flex-direction: row;
  }
}

.menu-contact-list + .menu-contact-list {
}

.menu-contact-list .contact {
  color: var(--color-body);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus,
.contact:active {
  color: var(--color-clic);
}

/**
  |============================
  | TEXT STYLES
  |============================
*/

.text-suptitl {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-logo-ligt);
}

.text-titl {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-logo-ligt);
}

.text-background-light {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

.text-background-dark {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-logo-dark);
}

/**
  |============================
  | SECTION_1_HERO
  |============================
*/
.hero {
  background-color: var(--color-hero-background);
}

.overlay {
  /* Basic styles */
  min-width: 320px;
  max-width: 428px;
  max-height: 432px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office_mob@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_mob@2x.jpg);
  }
}

/* Tablet screen >= 429 */
@media only screen and (min-width: 429px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_tab@2x.jpg);
    }
  }
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    max-height: 436px;
  }
}

/* Desktop screen >= 769 */
@media only screen and (min-width: 769px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office_desk@2x.jpg);
    }
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .overlay {
    max-width: 1440px;
    max-height: 600px;
  }
}

.dimensions {
  /* Basic styles */
  padding-top: 112px;
  padding-bottom: 112px;
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .dimensions {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.page-title {
  /* Basic styles */
  text-align: center;
  margin: 0 auto;

  max-width: 320px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-wite);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .page-title {
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.main-btn {
  /* Basic styles */
  background-color: var(--color-btn-hero);
  display: block;
  min-width: 169px;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
  border: none;
  cursor: pointer;

  padding: 16px 32px;
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--color-wite);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  margin-top: 48px;
}

.main-btn:hover,
.main-btn:focus,
.button-submit:hover,
.button-submit:focus,
.btn-footer:hover,
.btn-footer:focus {
  background-color: var(--color-clic);
}

/**
  |============================
  | SECTION_2_ADVANTAGES
  |============================
*/
.advantages {
  /* Basic styles */
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* .title-adv {
  margin-bottom: 8px;
} */

.advantages .text-margin {
}

.list-about {
  /* Basic styles */
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.list-about-item {
  /* Basic styles */
  width: 100%;
  /*   */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .list-about-item {
    width: calc((100% - 24px) / 2);
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .list-about-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

.advantages-icon-area {
  /* Basic styles */
  display: none;
  /*   */
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .advantages-icon-area {
    display: flex;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-advand-card-background);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.advantages-icon {
}

.title-adv {
  /* Basic styles */

  margin-bottom: 8px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-logo-ligt);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .title-adv {
    text-align: start;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .title-adv {
    /* Basic styles */
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/**
  |============================
  | SECTION_3_WE_DOING
  |============================
*/
.wedoing {
  /* Basic styles */
  display: none;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .wedoing {
    display: block;
    padding-bottom: 120px;
  }
}

.title-wedoing {
  margin-bottom: 72px;
}

.text-margin {
}

.wedoing-block {
  display: flex;
  gap: 24px;
}

.list-wedoing {
  width: calc((100% - 3 * 16px) / 3);
}

.img-styles {
  display: block;
}

/*
  |============================
  | SECTION_4_COLLABORATOR
  |============================
*/
.collaborator {
  /* Basic styles */
  padding: 96px 0;
  /*   padding-top: 120px;
  padding-bottom: 120px; */
  background-color: var(--color-logo-dark);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .collaborator {
    padding: 120px 0;
  }
}

.title-col {
  margin-bottom: 72px;
}

.collaborator-block {
  /* Basic styles */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
  /*   row-gap: 24px;
  column-gap: 72px; */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .collaborator-block {
    row-gap: 64px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.card {
  background-color: var(--color-wite);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.suptitle-col {
  margin-bottom: 8px;
}

.card .text-margin {
}

.card-block {
  padding: 32px 0;
  text-align: center;
}

.card-block .text-margin {
  margin-bottom: 8px;
}

.card-block-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--color-social-icon);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--color-social-icon-hover1);
}

.social-icon {
  fill: var(--color-logo-dark);
}

/**
  |============================
  | SECTION 5
  |============================
*/

.customers {
  /* Basic styles */
  padding: 96px 0;
  /*   padding-top: 120px;
  padding-bottom: 120px; */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0;
  }
}

.title-customers {
  margin-bottom: 72px;
  line-height: 1.1;
}

.customers-list {
  /* Basic styles */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  gap: 72px 16px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.customers-item {
}

.customers-link {
  /* Basic styles */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  height: 88px;

  border: 1px solid;
  border-color: var(--color-customers-icon);
  border-radius: 4px;

  color: var(--color-customers-icon);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .customers-link {
    width: 168px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.customers-link:hover,
.customers-link:focus {
  color: var(--color-social-icon-hover1);
  border-color: var(--color-social-icon-hover1);
}

.customers-icon {
  /* Basic styles */
  width: 110px;
  fill: currentColor;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .customers-icon {
    width: 104px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

/* ============FUTER================ */
.footer {
  /* Basic styles */
  padding: 96px 0;

  background-color: var(--color-logo-ligt);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .footer {
    padding: 100px 0;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.footer > .container {
  /* Basic styles */

  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
  justify-content: center;

  /*   justify-content: flex-start;
  align-items: baseline; */
  /* gap: 120px; */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .footer > .container {
    padding-left: 102px;
    justify-content: start;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .footer > .container {
    padding-left: 15px;
  }
}

.footer-text {
  /* Basic styles */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .footer-text {
    /* margin-right: 24px; */
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .footer-text {
    margin-right: 96px;
  }
}

.footer-block-logo {
  /* Basic styles */
  display: block;
  text-align: center;
  margin-right: 0;

  /*  display: inline-block; */
  margin-bottom: 16px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .footer-block-logo {
    text-align: start;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.footer .footer-block-text {
  /* Basic styles */

  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.footer-social {
  /* Basic styles */

  width: 208px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .footer-social {
    margin-right: 56px;
  }
}

.footer-social > .text-background-dark {
  /* Basic styles */
  text-align: center;
  margin-bottom: 16px;

  font-weight: 500;
  color: var(--color-wite);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .footer-social > .text-background-dark {
    text-align: start;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.footer-icon-list {
  display: flex;
  gap: 16px;
}

.footer-icon-item {
}

.footer-icon-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: var(--color-social-icon);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: var(--color-social-icon-hover2);
}

.footer-social-icon {
  fill: var(--color-logo-dark);
}

.footer-subscribe {
  /* Basic styles */

  /* margin-left: 80px; */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.footer-subscribe > .text-background-dark {
  /* Basic styles */
  text-align: center;
  margin-bottom: 16px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .footer-subscribe > .text-background-dark {
    text-align: start;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.footer-subscribe-form {
  /* Basic styles */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 16px 24px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.footer-form-email {
  /* Basic styles */
  width: 398px;
  height: 40px;
  padding-left: 16px;

  outline: transparent;

  background-color: transparent;
  border: 1px solid var(--color-wite);

  border-radius: 4px;

  color: var(--color-wite);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .footer-form-email {
    width: 264px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.btn-footer {
  /*   position: relative;
 */
  height: 40px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  /*  width: 165px;
  height: 40px; */
  padding-left: 24px;
  padding-right: 24px;

  cursor: pointer;

  background-color: var(--color-btn-hero);
  border-radius: 4px;
  border-color: transparent;

  color: var(--color-wite);

  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-frame-icon {
  fill: var(--color-wite);
}

/* ============PORTFOLOIO================ */

/**
  |============================
  | SECTION_0 HEADER
  |============================
*/
.dimensions-portf-main {
  /* Basic styles */

  padding: 48px 0;
  /*  padding: 96px 0 120px; */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .dimensions-portf-main {
    padding: 64px 0 96px;
    /*  padding: 96px 0 120px; */
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .dimensions-portf-main {
    padding: 96px 0 120px;
  }
}

/**
  |============================
  | SECTION_1 MAIN
  |============================
*/

.navigation {
  /* Basic styles */

  display: flex;
  flex-wrap: wrap;
  gap: 16px 30px;
  margin-bottom: 48px;
  justify-content: flex-start;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .navigation {
    column-gap: 24px;
    margin-bottom: 64px;
    justify-content: center;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .navigation {
    margin-bottom: 72px;
  }
}

.menu-list:not(:first-child) {
}

.nav-button {
  /* Basic styles */

  background-color: var(--color-logo-dark);
  border: 1px solid var(--color-btn-clic);
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-btn-hero);

  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .nav-button {
    padding: 12px 24px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--color-clic);
  color: var(--color-wite);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | SECTION_2 PORTFOLIO
  |============================
*/

.portfolio-list {
  /* Basic styles */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
  /*   column-gap: 24px;
   */
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}

.portfolio-list-item {
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .portfolio-list-item {
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .portfolio-list-item {
  }
}

.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | PORTFOLIO-OVERLAY
  |============================
*/

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-thumb .img-styles {
  /* Basic styles */
  width: 396px;
  height: 280px;
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .portfolio-thumb .img-styles {
    width: 356px;
    height: 300px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
  .portfolio-thumb .img-styles {
    width: 360px;
  }
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  background: var(--color-btn-hero);

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-logo-dark);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-list-item > .portfolio-card {
  padding: 32px 16px;
  border: 1px solid var(--color-header-border);
  border-top: none;
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid var(--color-header-border);
  border-top: none;
}

.title-card {
  margin-bottom: 8px;
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/

.overlay-modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
}

.modal {
  /* Basic styles */
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);

  padding: 72px 16px 24px 16px;

  width: 392px;
  min-height: 576px;

  background: var(--color-madel);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Tablet screen >= 768 */
@media only screen and (min-width: 768px) {
  .modal {
    padding-left: 24px;
    padding-right: 24px;

    width: 408px;
  }
}

/* Desktop screen >= 1158 */
@media only screen and (min-width: 1158px) {
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-social-icon-hover1);
  fill: var(--color-wite);
  border: none;
}

.modal-close-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-logo-ligt);
}

.form-input {
  margin-top: 16px;
}

label {
}

.modal-label {
  display: block;

  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  color: var(--color-customers-icon);
}

.modal-form-area {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input,
.modal-form-comment {
  width: 100%;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  padding: 0;

  outline: transparent;

  transition: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  height: 40px;
  padding-left: 38px;

  color: var(--color-logo-ligt);
}

.modal-form-comment {
  resize: none;
  display: block;
  height: 120px;
  margin-bottom: 16px;

  padding-left: 16px;
  padding-top: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  color: var(--color-logo-ligt);
}

.modal-form-input:focus,
.modal-form-comment:focus {
  border-color: var(--color-social-icon);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-social-icon);
}

.modal-label-privacypolicy {
  display: flex;
  gap: 8px;

  cursor: pointer;

  justify-content: left;
  align-items: center;

  margin-bottom: 24px;
}

.modal-checkbox {
  position: relative;
}

.modal-form-checkbox {
  appearance: none;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-form-check);
  border-radius: 2px;
  outline: transparent;

  cursor: pointer;

  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-wite);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' fill='none'%3E%3Cpath fill='%23F4F4FD' d='M8.446.255A.917.917 0 0 1 10 .901a.928.928 0 0 1-.242.649L4.864 7.704a.92.92 0 0 1-1.019.229.92.92 0 0 1-.306-.204L.293 4.466a.925.925 0 0 1-.226-1.024.925.925 0 0 1 .87-.578.916.916 0 0 1 .656.294L4.162 5.74 8.422.282a.329.329 0 0 1 .025-.027h-.001Z'/%3E%3C/svg%3E");

  transition: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked {
  background-color: var(--color-clic);
  border-color: var(--color-clic);
}

.text-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  color: var(--color-customers-icon);
}

.modal-link {
  color: var(--logo-color-web);
}

.button-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 169px;
  height: 56px;

  cursor: pointer;

  background-color: var(--color-btn-hero);
  box-shadow: 0px 4px 4px var(--color-shadow);
  border-radius: 4px;
  border: none;

  color: var(--color-wite);

  transition: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-vector {
  position: absolute;
  top: 8;
  left: 8px;
  transform: translateY(-50%);
  transform: translateX(-50%);

  fill: var(--color-wite);
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  background-color: var(--color-wite);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid var(--color-header-border);

  color: var(--color-logo-ligt);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  /* padding: 10px; */
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-logo-ligt);
  text-decoration: none;
}
.mob-menu > .active {
  color: var(--color-clic);
}
.mobile-contact {
  margin-bottom: 48px;
}
.mob-contact-tel {
  margin-bottom: 40px;
}
.mob-tel-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-btn-hero);
}

.mob-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-body);
}

.menu-container .card-block-list {
  justify-content: start;
  gap: 56px;
}
